
<div class="container">
  <div class="p-grid">
    <div class="p-col-12">
      <h1>Pessoas</h1>
    </div>

    <div class="p-col-12 p-fluid">
      <div class="p-field">
        <label for="nome">Nome</label>
        <input id="nome" type="text" pInputText />
      </div>
    </div>

    <div style="margin-top: 10px;" class="p-col-12">
      <p-button label="Pesquisar" type="submit"></p-button>
    </div>

  </div>

  <div style="margin-top: 20px;" class="p-grid">
    <div class="p-col-12">
      <app-pessoas-grid [pessoas]="pessoas"></app-pessoas-grid>
    </div>
    <div style="margin-top: 10px;" class="p-col-12">
      <p-button label="Nova Pessoa" type="submit"></p-button>
    </div>
  </div>

</div>

