<p-table [value]="lancamentos" [paginator]="true" [rows]="rows" [showCurrentPageReport]="true" styleClass="p-datatable-responsive-demo">
  <ng-template pTemplate="header">
    <tr>
        <th>Pessoa</th>
        <th>Descrição</th>
        <th class="col-data">Vencimento</th>
        <th class="col-data">Pagamento</th>
        <th class="col-valor">Valor</th>
        <th class="col-acoes"></th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-lancamento>
    <tr>
        <td><span class="p-column-title">Pessoa:</span>{{lancamento.pessoa}}</td>
        <td><span class="p-column-title">Descriçao:</span>{{lancamento.descricao}}</td>
        <td class="col-data"><span class="p-column-title">Vencimento:</span>{{lancamento.dataVencimento}}</td>
        <td class="col-data"><span class="p-column-title">Pagamento:</span>{{lancamento.dataPagamento}}</td>
        <td class="col-valor" [ngStyle]="{ color: lancamento.tipo == 'DESPESA' ? 'red' : 'blue'}"><span class="p-column-title">Valor:</span>{{lancamento.valor | currency:'BRL':true:'1.2-2'}}</td>
        <td class="col-acoes">
          <span class="p-column-title">Ações:</span>
          <button pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top"></button>
          <button style="margin-left: 2px;" pButton icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="top"></button>
        </td>

    </tr>
  </ng-template>
</p-table>
