.nav-bar{
  padding: 10px 0;
  background-color: #0d89ec;
}

.nav-bar-toggle{
  color: white;
}

.nav-bar-menu{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  background-color: #3A3633;
  z-index: 9999;
  list-style: none;
  padding: 0;
}

.nav-bar-usuario{
  padding: 15px;
  margin-bottom: 15px;

  color: white;
  text-transform: uppercase;
  font-weight: bold;

  border-bottom: 1px solid #525151;
}

.nav-bar-menu-item{
  padding: 15px;
}

.nav-bar-menu-item a{
  color: #c0bbb7;
  text-decoration: none;
}

.nav-bar-menu-item a:hover{
  color: white;
}
