<div class="container">
  <form #lancamentoForm='ngForm'>
    <div class="p-grid">
        <div class="p-col-12">
          <h1>Cadastro de Lançamento</h1>

          <div class="p-row" style="margin-top: 35px;">
            <p-selectButton [options]="tipos" #tipoForm></p-selectButton>
          </div>

          <div class="p-fluid p-formgrid p-grid" style="margin-top: 10px;">

            <div class="p-field p-col">
                <label for="">Vencimento</label>
                <p-calendar dateFormat="dd/mm/yy" [showIcon]="true" name="vencimento" ngModel #vencimento="ngModel" required></p-calendar>
                <app-message [control]="vencimento" error="required"  texto="O campo Vencimento é obrigatório."></app-message>
            </div>
            <div class="p-field p-col">
                <label for="">{{tipoForm.value === 'RECEITA' ? 'Recebimento' : 'Pagamento'}}</label>
                <p-calendar dateFormat="dd/mm/yy" [showIcon]="true"></p-calendar>
            </div>

            <div class="p-field p-col-12">
              <label for="valor">Valor</label>
              <p-inputNumber [showButtons]="true" mode="currency" currency="BRL" required></p-inputNumber>
            </div>

            <div class="p-field p-col">
              <label for="Categoria">Categoria</label>
              <p-dropdown [options]="Categorias" [filter]="true" placeholder="Selecione" required></p-dropdown>
            </div>
            <div class="p-field p-col">
              <label for="Pessoa">Pessoa</label>
              <p-dropdown [options]="Pessoas" [filter]="true" placeholder="Selecione" required></p-dropdown>
            </div>

            <div class="p-field p-col-12">
              <label for="desc">Descrição</label>
              <input pInputText id="desc" type="text" name="descricao" ngModel #descricao="ngModel" required minlength="5">

              <app-message [control]="descricao" error="minlength" texto="Informe ao menos 5 caracteres."></app-message>
              <app-message [control]="descricao" error="required"  texto="O campo descrição é obrigatório."></app-message>
            </div>

            <div class="p-field p-col-12">
              <label for="obs">Observação</label>
              <textarea id="obs" rows="4" pInputTextarea></textarea>
            </div>
          </div>
          <div>
            <button pButton [disabled]="lancamentoForm.invalid" style="margin-right: 2px;" label="Salvar" type="submit"></button>
            <button pButton label="Novo" type="button" class="p-button-info" ></button>
          </div>
        </div>
    </div>
  </form>
</div>

